.logo {
  height: 48px;
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    margin: auto;
    max-width: var(--max-width);

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem 0 1rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  .navbar {
    background-color: hsl(0, 0%, 98%);
    border-bottom: 1px solid hsl(0, 0%, 88%);
    padding: 0.5rem 1rem;
    width: 100%;

    nav {
      align-items: center;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: auto 1fr;
      margin: auto;
      max-width: var(--max-width);
    }
  }

  .home {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
  }

  .main {
    margin: 0 auto;
    padding: 1rem;
  }

  .page {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .main {
      display: grid;
      justify-content: center;

      select {
        border: none;
        border-bottom: 4px solid currentColor;
        font-size: 1.5rem;
        padding: 0.25rem 1rem;
      }
    }
  }

  .aside {
    max-width: var(--max-width);
    padding: 1rem;

    h4 {
      font-weight: bold;
      margin: 1rem 0 0.5rem;
    }

    a {
      color: var(--link-color);
    }

    ol {
      list-style-type: number;
    }

    ul {
      list-style-type: disc;
    }

    ul,
    ol {
      list-style-position: outside;
      margin-left: 1rem;
    }

    li,
    p {
      padding: 0.25rem 0;
    }
  }

  .footer {
    background-color: hsl(0, 0%, 98%);
    border-top: 1px solid hsl(0, 0%, 88%);
    font-size: 0.85rem;
    padding: 0.5rem 0 1rem;
    width: 100%;

    p {
      margin: 0.5rem;
    }
  }
}
