.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #dbdbdb;
  border-top: none;
  &.current {
    background-color: var(--active-background-color);
    align-items: start;
    box-shadow: 0 0 10px 0 #7a7a7a;
    position: relative;
    border-radius: 4px;
    border: none;
    .title {
      margin-bottom: 1rem;
    }
  }
  a {
    text-decoration: none;
  }
  &.na {
    background-color: var(-inactive-background-color);
    color: #b5b5b5;
  }
  .license {
    text-align: right;
  }
  .scheme {
    margin-top: 0.5rem;
  }
  .current {
    font-size: 1.25rem;
  }
}
