.textCenter {
  text-align: center;
}
.button {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 2px solid #444;
  &:hover {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    color: #444;
  }
}
