.licensePlate {
  --license-background-color: #f7c000;
  --license-color: black;

  align-items: center;
  background-color: var(--license-background-color);
  border: 1.5px solid var(--license-color);
  border-radius: 0.25em;
  box-shadow: 0 0 0 1.5px var(--license-background-color);
  color: var(--license-color);
  display: inline-flex;
  font-family: LicensePlate, monospace, sans-serif;
  font-weight: bold;
  justify-content: center;
  line-height: 1rem;
  margin: 1.5px;
  padding: 0.4em 0.25em 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
}

.small {
  font-size: 0.75em;
}

.medium {
  font-size: 1em;
}

.large {
  font-size: 1.5em;
}

.public {
  --license-background-color: white;
}
